body{
	background-color: #2196F3;
}
	
.left { grid-area: left;
		overflow-wrap: break-word;}
.left2 { grid-area: left; visibility: hidden }
.right { grid-area: right; 
		background-image: url("true_silas.svg");}
.grid-container {
  display: grid;
  grid-template-areas:
    'left right right right right right';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container {
  text-align: center;
  padding: 20px 0px;
  font-size: 30px;
}

